<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Spring Boot</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css"
	rel="stylesheet">
</head>
<body class="text-center">
	<form class="form-signin" th:action="@{/login}" method="post">
		<h1 class="h3 mb-3 font-weight-normal">Authentification</h1>
		<div class="alert alert-danger alert-dismissible fade show"
			role="alert" th:if="${param.error}">
			<p class="font-weight-light">Votre identifiant ou mot de passe
				est incorrect.</p>
		</div>
		<div class="alert alert-danger alert-dismissible fade show"
			role="alert" th:if="${param.success}">
			<p class="font-weight-light">Vous êtes déconnecté!</p>
		</div>
		<label for="inputEmail" class="sr-only">Login</label> <input
			type="text" id="inputEmail" class="form-control" placeholder="Login"
			required autofocus name="username"> <label
			for="inputPassword" class="sr-only">Mot de Passe:</label> <input
			type="password" id="inputPassword" class="form-control"
			placeholder="Password" required name="password">

		<button class="btn btn-lg btn-primary btn-block" type="submit">Se
			connecter</button>
		<p class="mt-5 mb-3 text-muted">&copy; Orsys -2020</p>
	</form>
</body>
</html>






